h4, h5 {
  text-align: center;
}

.center {
  text-align: center;
}

.sub-title {
  bottom: 30%;
  left: 60%;
  position: absolute;
}

.bottom {
  bottom: 0;
  left: 70%;
  position: absolute;
}

.coming-up:before {
  content: url(/assets/img/coming-up.ico);
  position: relative;
  top: 50px;
}
